/** @format */

[class*='container'] {
  margin: 0 auto;
  max-width: 1439.98px;
}
.icon {
  height: 46px;
  width: 46px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 479.98px) {
    height: 34px;
    width: 34px;
  }
}
