.root {
  position: fixed;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 50;
  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 720px;
  padding: 40px 40px 20px;
  margin: 0 0 0 auto;
  justify-content: space-between;
  @media (max-width: 767.98px) {
    padding: 30px 20px 20px;
    max-width: 100%;
  }
}

.logo {
  @media (max-width: 479.98px) {
    img {
      width: 86px;
      height: 30px;
    }
  }
}
.body {
  display: flex;
  align-items: center;
  gap: 8px;
}
.map {
  background: var(--icon-bg);
  svg {
    width: 14.63px;
    height: 13.3px;
  }
}
.burger {
  background: var(--icon-bg);
  svg {
    width: 15.52px;
    height: 10.35px;
  }
}
